---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
cart:
    ok: true
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}
{{#if customer}}
    <div class="page-heading-banner" style="background-color: rgb(237, 225, 133); border: 1px solid black; border-radius: 5%; padding: 15px; margin-bottom: 10px">
        {{log this.customer}}
        <div style="display:flex; justify-content: space-between; align-items: center;">
            <p class="page-heading-banner__text" style="margin-bottom: 0px"
            >Hello {{customer.name}}! Welcome to oBundle's {{category.name}}</p>
            <p class="page-heading-banner__text" style="margin-bottom: 0px">{{customer.shipping_address.city}}, {{customer.shipping_address.state}}, {{customer.shipping_address.country}}</p>
        </div>

    </div>
{{/if}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}

{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div style="width:18%; display: flex; justify-content: space-around;">
    <button class="button" id="add-all-products" style="width: 50%; padding: 10px; background-color: rgb(77, 128, 222); border-color: black; color: black">Add All</button>
    {{#if this.cart.quantity}}
        <button class="button" id="remove-all-products" style="width: 50%; padding: 10px; background-color: rgb(222, 77, 77); border-color: black; color: black">Remove All</button>
    {{/if}}
</div>
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
<script>
    (async () => { 
        //? Alternate way to get cart
        const response = await fetch('/api/storefront/cart', {
            method: 'GET',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        const carts = await response.json()
        console.log(carts)

        const cart = carts[0]//.find(user => user.customer_id == "{{this.customer.id}}")
        let cartList = cart?.lineItems || []
        cartList = cartList?.customItems?.concat(cartList.digitalItems, cartList.giftCertificates, cartList.physicalItems)


        const items = cartList?.map(item => ({id: item.id, productId: item.productId}))

        let prod = `{{#each this.category.products as |product|}}{{product.id}},{{/each}}`
        let prodList = prod.split(",").splice(0, prod.split(",").length - 1).map(item => ({quantity: 1, productId: item.trim(), variantId: 1}))

        let finalList = [];
        prodList.forEach((item, i) => {
            let cartItem = items?.find(cartItem => cartItem.productId == item.productId)
            if(cartItem){
                finalList.push(cartItem.id)
            }
        })
        console.log(finalList)

        // Add All Products
        const addAll = document.querySelector('#add-all-products')
        addAll.addEventListener("click", async function(){
            console.log(prodList)
            const options = {
                method: 'POST',
                headers: {'Content-Type': 'application/json', 'X-Requested-With': 'XMLHttpRequest'},
                body: JSON.stringify({lineItems: prodList})
            };
            console.log(options)
            try {
                const response = await fetch('/api/storefront/carts/{{this.cart_id}}/items', options)
                const result = await response.json()
                console.log(response)
                // setTimeout(() => location.reload(), 1000)
            } catch (error) {
                console.log(error)
            }
        })

        //Remove All Products
        const removeAll = document.querySelector('#remove-all-products')
        if(!removeAll) return;
        removeAll.addEventListener("click", async function(){
            const options = {
                method: 'DELETE',
                // credentials: "same-origin",
                headers: {'Content-Type': 'application/json', 'X-Requested-With': 'XMLHttpRequest'}
            };
            try {
                let cart_id = "{{this.cart_id}}"
                console.log(finalList)
                async function recursiveCall(finalList){
                    console.log(finalList)
                    if(finalList.length == 0) return;
                    try {
                        const result = await fetch(`/api/storefront/carts/${cart_id}/items/${finalList[0]}`, options)
                        finalList.shift()
                        await recursiveCall(finalList)
                    } catch (error) {
                        console.log(error)
                    }
                }
                await recursiveCall([...finalList])
                setTimeout(() => location.reload(), 1000)
            } catch (error) {
                console.log(error)
            }
        })
    })()
</script>