---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
cart:
    ok: true
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
    }}
{{/if}}
{{#if customer}}
    <div class="page-heading-banner">
        {{log this.customer.id}}
        {{!-- {{log this.category.total_products}} --}}
        {{!-- {{log this.cart}} --}}
        <p class="page-heading-banner__text">Hello {{customer.name}}! Welcome to {{category.name}}</p>
        <button id="add-all-products">Add All</button>
        {{#if this.cart.quantity}}
            <button id="remove-all-products">Remove All</button>
        {{/if}}
    </div>
{{/if}}
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
</div>

{{/partial}}
{{> layout/base}}
<script>
    (async () => { 
        //? Alternate way to get cart
        const response = await fetch('/api/storefront/cart', {
            method: 'GET',
            credentials: 'same-origin',
            headers: {
                'Content-Type': 'application/json',
                'X-Requested-With': 'XMLHttpRequest'
            }
        })
        const carts = await response.json()
        console.log(carts)

        const cart = carts[0]//.find(user => user.customer_id == "{{this.customer.id}}")
        if(!cart) return;
        let cartList = cart.lineItems

        cartList = cartList.customItems.concat(cartList.digitalItems, cartList.giftCertificates, cartList.physicalItems)
        const items = cartList.map(item => ({id: item.id, productId: item.productId}))
        console.log(items)
        // const products = Array.from("{{this.category.total_products}}").map((_, i) => {
        //     return {
        //         id: `{{this.category.products.[${i}].id}}`,
        //         name: `{{this.category.products.[${i}].name}}`,
        //         price: `{{this.category.products.[${i}].price.value}}`,
        //         url: `{{this.category.products.[${i}].url}}`,
        //         image: `{{this.category.products.[${i}].primary_image.src}}`
        //     }
        // })
        // let prod = `{{#each this.category.products as |product|}}{{product.id}}__{{product.variants.[0].id}}__{{product.name}}__{{product.price.value}}__{{product.url}}__{{product.primary_image.src}}##{{/each}}`
        // let prodList = prod.split("##").map(item => item.trim().split("__"))
        let prod = `{{#each this.category.products as |product|}}{{product.id}},{{/each}}`
        let prodList = prod.split(",").splice(0, prod.split(",").length - 1).map(item => ({quantity: 1, productId: item.trim(), variantId: null}))
        console.log(prodList)
        // let cart = "{{this.cart}}"
        // console.log(cart)

        let finalList = [];
        prodList.forEach((item, i) => {
            let cartItem = items.find(cartItem => cartItem.productId == item.productId)
            if(cartItem){
                finalList.push(cartItem.id)
            }
        })
        console.log(finalList)


        // Add All Products
        const addAll = document.querySelector('#add-all-products')
        addAll.addEventListener("click", async function(){
            const options = {
                method: 'POST',
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({lineItems: prodList})
            };

            try {
                const response = await fetch('/api/storefront/carts/{{this.cart_id}}/items', options)
                const result = await response.json()
                console.log(response)
                location.reload()
            } catch (error) {
                console.log(error)
            }
        })

        //Remove All Products
        const removeAll = document.querySelector('#remove-all-products')
        removeAll.addEventListener("click", async function(){
            const options = {
                method: 'DELETE',
                // credentials: "same-origin",
                headers: {'Content-Type': 'application/json'}
            };
            try {
                // const response = await fetch(`/api/storefront/carts/{{this.cart_id}}/items/112`, options)
                // const result = await response.json()
                // console.log(result)
                const promises = finalList.map(async(itemId) => {
                    console.log(itemId)
                    // const result = await fetch(`/api/storefront/carts/{{this.cart_id}}/items/${itemId}`, options)
                    // const resultJson = await result.json()
                    // return resultJson
                    return await fetch(`/api/storefront/carts/{{this.cart_id}}/items/${itemId}`, options)
                })
                console.log(promises)
                // console.log(promises)
                const results = await Promise.all(promises)
                const final = await Promise.all(results.map(r => r.json()))
                console.log(final)
                location.reload()
            } catch (error) {
                console.log(error)
            }

            // const final = await Promise.all(results.map(r => r.json()))
            // console.log(final)
            // location.reload()

        })
    })()
</script>